<h1> <strong> PRODUCTS CLEANING </strong> <h1>

<h2> <strong> Initial exploration  </strong>  </h2>

In [1]:
import pandas as pd

products = pd.read_csv("products.csv")
print(products)

           sku                                           name  \
0      RAI0007              Silver Rain Design mStand Support
1      APP0023              Apple Mac Keyboard Keypad Spanish
2      APP0025               Mighty Mouse Apple Mouse for Mac
3      APP0072  Apple Dock to USB Cable iPhone and iPod white
4      KIN0007    Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM
...        ...                                            ...
19321  BEL0376        Belkin Travel Support Apple Watch Black
19322  THU0060   Enroute Thule 14L Backpack MacBook 13 "Black
19323  THU0061    Enroute Thule 14L Backpack MacBook 13 "Blue
19324  THU0062     Enroute Thule 14L Backpack MacBook 13 "Red
19325  THU0063   Enroute Thule 14L Backpack MacBook 13 "Green

                                                    desc  price promo_price  \
0           Aluminum support compatible with all MacBook  59.99     499.899
1              USB ultrathin keyboard Apple Mac Spanish.     59     589.996
2                                 mouse Apple USB cable.     59     569.898
3                  IPhone dock and USB Cable Apple iPod.     25     229.997
4      2GB RAM Mac mini and iMac (2006/07) MacBook Pr...  34.99       31.99
...                                                  ...    ...         ...
19321  compact and portable stand vertically or horiz...  29.99     269.903
19322  Backpack with capacity of 14 liter compartment...  69.95     649.903
19323  Backpack with capacity of 14 liter compartment...  69.95     649.903
19324  Backpack with capacity of 14 liter compartment...  69.95     649.903
19325  Backpack with capacity of 14 liter compartment...  69.95     649.903

       in_stock      type
0             1      8696
1             0  13855401
2             0      1387
3             0      1230
4             1      1364
...         ...       ...
19321         1     12282
19322         1      1392
19323         1      1392
19324         0      1392
19325         1      1392

[19326 rows x 7 columns]

In [2]:
p = products

In [3]:
p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19326 entries, 0 to 19325
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sku          19326 non-null  object
 1   name         19326 non-null  object
 2   desc         19319 non-null  object
 3   price        19280 non-null  object
 4   promo_price  19326 non-null  object
 5   in_stock     19326 non-null  int64
 6   type         19276 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.0+ MB

In [4]:
p.describe()

           in_stock
count  19326.000000
mean       0.109593
std        0.312390
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [5]:
p.shape

(19326, 7)

In [6]:
p.isna().sum()

sku             0
name            0
desc            7
price          46
promo_price     0
in_stock        0
type           50
dtype: int64

In [8]:
p.duplicated().sum()

8746

<h2> <strong> Data set  </strong>  </h2>

<p> Analyzing the data seems like  there are two crucial columns to fix: price and promo_price </p>

In [9]:
p[['price', 'promo_price']]

       price promo_price
0      59.99     499.899
1         59     589.996
2         59     569.898
3         25     229.997
4      34.99       31.99
...      ...         ...
19321  29.99     269.903
19322  69.95     649.903
19323  69.95     649.903
19324  69.95     649.903
19325  69.95     649.903

[19326 rows x 2 columns]

In [11]:
p = p[p['price'].notna()]

In [13]:
p = p[p['promo_price'].notna()]

In [14]:
p['price'] = p.price.apply(lambda x : x +'.00' if x.count('.') == 0 else x)
p['price'] = p.price.apply(lambda x: x  + '0' if x[-2]=='.' else x)
p['price'] = p.price.apply(lambda x: str(float(x.replace('.',''))/1000) if ( (x[-4]=='.') & (x.count('.')==2)) else x)
p['price'] = p.price.apply(lambda x: str(float(x.replace('.',''))/10000) if ( (x[-4]=='.') & (x.count('.')==1)) else x)

In [15]:
p['promo_price'] = p.promo_price.apply(lambda x : x +'.00' if x.count('.') == 0 else x)
p['promo_price'] = p.promo_price.apply(lambda x: x  + '0' if x[-2]=='.' else x)
p['promo_price'] = p.promo_price.apply(lambda x: str(float(x.replace('.',''))/1000) if ( (x[-4]=='.') & (x.count('.')==2)) else x)
p['promo_price'] = p.promo_price.apply(lambda x: str(float(x.replace('.',''))/10000) if ( (x[-4]=='.') & (x.count('.')==1)) else x)

In [16]:
p['price'] = p.price.astype(float)

In [17]:
p['price'] = p.price.round(decimals=2)

In [21]:
p['promo_price'] = p.promo_price.astype(float)

In [20]:
p['promo_price'] = p.promo_price.round(decimals=2)

In [22]:
p[['price', 'promo_price']]

       price  promo_price
0      59.99        49.99
1      59.00        59.00
2      59.00        56.99
3      25.00        23.00
4      34.99        31.99
...      ...          ...
19321  29.99        26.99
19322  69.95        64.99
19323  69.95        64.99
19324  69.95        64.99
19325  69.95        64.99

[19280 rows x 2 columns]

<p> If we take a look at the info now, we can see our data are changed in the correct format </p>

In [23]:
p.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19280 entries, 0 to 19325
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sku          19280 non-null  object
 1   name         19280 non-null  object
 2   desc         19273 non-null  object
 3   price        19280 non-null  float64
 4   promo_price  19280 non-null  float64
 5   in_stock     19280 non-null  int64
 6   type         19230 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 1.2+ MB

In [44]:
p.describe()

              price   promo_price      in_stock
count  10534.000000  10534.000000  10534.000000
mean     707.544139    533.531596      0.194798
std     1631.492640   1157.225178      0.396064
min        0.830000      0.380000      0.000000
25%       44.950000     29.990000      0.000000
50%      119.990000     84.990000      0.000000
75%      699.900000    469.000000      0.000000
max    35255.940000  14419.000000      1.000000

<h2> <strong> Missing values  </strong>  </h2>

In [24]:
p.isna().sum()

sku             0
name            0
desc            7
price           0
promo_price     0
in_stock        0
type           50
dtype: int64

<p> We can notice there are missing values on desc and <strong>type</strong>. Since type it's not useful for our analysis, just drop it.While we have a different solution for desc </p>

In [30]:
p

,sku,name,desc,price,promo_price,in_stock
0,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,49.99,1
1,APP0023,Apple Mac Keyboard Keypad Spanish,USB ultrathin keyboard Apple Mac Spanish.,59.00,59.00,0
2,APP0025,Mighty Mouse Apple Mouse for Mac,mouse Apple USB cable.,59.00,56.99,0
3,APP0072,Apple Dock to USB Cable iPhone and iPod white,IPhone dock and USB Cable Apple iPod.,25.00,23.00,0
4,KIN0007,Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM,2GB RAM Mac mini and iMac (2006/07) MacBook Pr...,34.99,31.99,1
...,...,...,...,...,...,...
19321,BEL0376,Belkin Travel Support Apple Watch Black,compact and portable stand vertically or horiz...,29.99,26.99,1
19322,THU0060,"Enroute Thule 14L Backpack MacBook 13 ""Black",Backpack with capacity of 14 liter compartment...,69.95,64.99,1
19323,THU0061,"Enroute Thule 14L Backpack MacBook 13 ""Blue",Backpack with capacity of 14 liter compartment...,69.95,64.99,1
19324,THU0062,"Enroute Thule 14L Backpack MacBook 13 ""Red",Backpack with capacity of 14 liter compartment...,69.95,64.99,0
19325,THU0063,"Enroute Thule 14L Backpack MacBook 13 ""Green",Backpack with capacity of 14 liter compartment...,69.95,64.99,1

In [32]:
p['desc']= p.desc.fillna('See the product name')

In [33]:
p.isna().sum()

sku            0
name           0
desc           0
price          0
promo_price    0
in_stock       0
dtype: int64

<h2> <strong> Duplicates  </strong>  </h2>

In [37]:
p.shape

(19280, 6)

In [36]:
p.duplicated().sum()

8746

In [41]:
p = p.drop_duplicates()
p

,sku,name,desc,price,promo_price,in_stock
0,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,49.99,1
1,APP0023,Apple Mac Keyboard Keypad Spanish,USB ultrathin keyboard Apple Mac Spanish.,59.00,59.00,0
2,APP0025,Mighty Mouse Apple Mouse for Mac,mouse Apple USB cable.,59.00,56.99,0
3,APP0072,Apple Dock to USB Cable iPhone and iPod white,IPhone dock and USB Cable Apple iPod.,25.00,23.00,0
4,KIN0007,Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM,2GB RAM Mac mini and iMac (2006/07) MacBook Pr...,34.99,31.99,1
...,...,...,...,...,...,...
19321,BEL0376,Belkin Travel Support Apple Watch Black,compact and portable stand vertically or horiz...,29.99,26.99,1
19322,THU0060,"Enroute Thule 14L Backpack MacBook 13 ""Black",Backpack with capacity of 14 liter compartment...,69.95,64.99,1
19323,THU0061,"Enroute Thule 14L Backpack MacBook 13 ""Blue",Backpack with capacity of 14 liter compartment...,69.95,64.99,1
19324,THU0062,"Enroute Thule 14L Backpack MacBook 13 ""Red",Backpack with capacity of 14 liter compartment...,69.95,64.99,0
19325,THU0063,"Enroute Thule 14L Backpack MacBook 13 ""Green",Backpack with capacity of 14 liter compartment...,69.95,64.99,1

In [42]:
p.shape

(10534, 6)

<h> <strong> We can save it as a new csv <strong> </h>

In [43]:
p.to_csv('products_cl.csv', index=False)